[submodule ".vim/bundle/gruvbox"]
	path = .vim/bundle/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule ".vim/bundle/vim-node"]
	path = .vim/bundle/vim-node
	url = git@github.com:moll/vim-node.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = git@github.com:ap/vim-css-color.git
